{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div id="content">
        {% block title %}
            <div class="row align-items-center">
                <div class="col-auto text-nowrap"><h2>New questions</h2></div>
                <div class="col"><small><a href="">Top questions</a></small></div>
            </div>
        {% endblock %}
        {% block list %}
            {% for question in questions|slice:":20" %}
                <div class="row my-4 me-5">
                    <div class="col py-2 ms-3 flex-column">
                        <img src="{% static 'img/user.svg' %}" alt="avatar" width="60" height="60">
                        <div class="d-flex align-items-center">
                            <p class="question-stars ms-2 me-3 my-3">{{ question }}</p>
                            <img src="{% static 'img/star.png' %}" alt="Stars" width="20" height="20">
                        </div>
                    </div>
                    <div class="col-10 py-3">
                        <h4>How to build a moon park?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto commodi dolores
                            eveniet
                            excepturi facilis illum ipsa maxime minus mollitia, neque nesciunt non quas quod quos saepe
                            vero!
                            Assumenda, cupiditate!</p>
                        <div class="row">
                            <div class="col-auto text-nowrap"><a href="/question">answer (3)</a></div>
                            <div class="col d-flex justify-content-end">
                                <p class="me-2">Tags: </p>
                                <a href="/tag" class="me-2">black-jack</a>
                                <a href="/tag" class="me-2">black-jack</a>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
            {% endfor %}
            {% if questions|length > 20 %}
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="">Back</a></li>
                    <li class="page-item"><a class="page-link" href="">1</a></li>
                    <li class="page-item"><a class="page-link" href="">2</a></li>
                    <li class="page-item"><a class="page-link" href="">3</a></li>
                    <li class="page-item"><a class="page-link" href="">Next</a></li>
                </ul>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}