{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row my-4 me-5">
        <div class="col py-2 ms-3">
            <img src="{% static 'img/user.svg' %}" alt="avatar" width="100" height="100">
            <div class="d-flex align-items-center">
                <p class="answer-stars ms-2 me-3 my-3">{{ question.stars }}</p>
                <div class="d-block">
                    <div class="row">
                        <div class="col">
                            <a href="">
                                <img src="{% static 'img/arrow-up.png' %}" alt="Up" width="20" height="20">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="">
                                <img src="{% static 'img/arrow-down.png' %}" alt="Down" width="20" height="20">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 py-3">
            <h4>{{ question.title }}</h4>
            <p>{{ question.text }}</p>
            <div class="row">
                <div class="col d-flex">
                    <p class="me-2">Tags: </p>
                    {% for tag in question.tags %}
                        <a href="{% url 'tag' tag %}" class="me-2">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr/>
    </div>
    {% for answer in answers %}
        <div class="row my-4 me-5">
            <div class="col-auto py-2 ms-3 me-3">
                <img src="{% static 'img/user.svg' %}" alt="avatar" width="60" height="60">
                <div class="d-flex align-items-center">
                    <p class="answer-stars ms-2 me-3 my-3">{{ answer.stars }}</p>
                    <div class="d-block">
                        <div class="row">
                            <div class="col">
                                <a href="">
                                    <img src="{% static 'img/arrow-up.png' %}" alt="Up" width="20" height="20">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="">
                                    <img src="{% static 'img/arrow-down.png' %}" alt="Down" width="20" height="20">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <h4>{{ answer.title }}</h4>
                <p>{{ answer.text }}</p>
                <div class="row d-flex">
                    <div class="col">
                        <input type="checkbox" class="form-check-input me-3 {% if not is_author %}d-none{% endif %}"
                               id="correct-{{ answer.id }}" {% if answer.checked_correct %} checked {% endif %}>
                        <label for="correct-{{ answer.id }}"
                               class="form-check-label {% if not answer.checked_correct %} d-none {% endif %}">
                            <i>Author checked this answer correct</i>
                        </label>
                        <label for="correct-{{ answer.id }}"
                               class="form-check-label {% if answer.checked_correct or not is_author %} d-none {% endif %}">
                            <i>Mark this answer correct</i>
                        </label>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    {% endfor %}
    {% include 'pagination.html' with objects=answers %}
    <div class="row my-5 me-5">
        <div class="col">
            <textarea placeholder="Place your answer here" class="form-control" rows="5"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary form-control">Answer</button>
        </div>
    </div>
{% endblock %}