{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Answers</title>

    <style>
        #main-field {
            width: 65%;
        }

        #tags-field {
            width: 30%;
        }
    </style>
</head>
<body>
<div class="container">
    {% block header %}
        <header class="border-bottom" role="banner">
            <div class="row align-items-center py-3">
                <div class="col-auto ms-2">
                    <h1>Answers!</h1>
                </div>
                <div class="col input-group flex-nowrap text-nowrap">
                <span class="input-group-text" id="basic-addon1">
                    <img src="{% static 'img/loupe.svg' %}" width="16" height="16" alt="Search">
                </span>
                    <label>
                        <input type="search" class="form-control" placeholder="Search">
                    </label>
                </div>
                <div class="col justify-content-end input-group me-2 {% if authorized %} visually-hidden {% endif %}">
                    <div class="row">
                        <div class="col"><a href="">Log in</a></div>
                        <div class="col">
                            <a href="">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-end me-2 {% if not authorized %} visually-hidden {% endif %}">
                    <img src="{% static 'img/user.svg' %}" alt="Avatar" width="45" height="45" class="me-2">
                    <div class="flex-wrap ms-2">
                        <div class="row">
                            <div class="col">Вася Пупкин</div>
                        </div>
                        <div class="row flex-nowrap text-nowrap">
                            <div class="col">
                                <a href="">Settings</a>
                            </div>
                            <div class="col"><a href="">Log out</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block main %}
        <main class="d-flex py-3 justify-content-between" role="main">
            <div id="main-field"></div>
            <div id="tags-field" class="py-5 d-flex flex-column">
                <h3>Popular tags</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore hic necessitatibus quasi
                    quidem quod ratione tenetur totam voluptas? Alias minus modi nesciunt possimus temporibus?
                    Dignissimos eos fugiat libero ullam!</p>
                <h3>Best members</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis molestias
                    officia. Accusantium commodi debitis deleniti fugiat impedit modi nobis odit placeat porro,
                    recusandae rem repellat veritatis vero, voluptatibus?</p>
            </div>
        </main>
    {% endblock %}
</div>
</body>
</html>